@inherits UmbracoViewPage

<div class="container">
    <div class="section text-center">
        <h1>
            <span class="red-1">VAROVANIE:</span> <br />PO TOMTO SA UŽ NIKDY NEBUDETE POZERAŤ NA SVOJE MOŽNOSTI ROVNAKO!
        </h1>
    </div>

    <div class="sections-1">
        <div class="row">
            <div class="col-md-6">
                <div class="video_player">
                    <iframe width="500" height="280" src="https://www.youtube.com/embed/2nhf9VTvmaQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6">
                <p class="medium28">
                    Už to letí ...
                </p>
                <p class="info-1">
                    Na zadaný e-mail sme odoslali prvé informácie a tie sú práve na ceste do Vašej
                    e-mailovej schránky.
                </p>
                <p class="info-2">
                    Skontrolujte svoj e-mail a pre istotu pozrite aj spam zložku a hromadnú poštu.
                    <br /><br />
                </p>
                <p class="medium-1">
                    <i class="fa fa-envelope"></i> Skontrolujte svoj e-mail
                </p>
                <p class="medium-2">
                    <i class="fa fa-envelope"></i> <u>Skontrolujte aj SPAM zložku</u>
                </p>
                <p class="medium-3">
                    <i class="fa fa-envelope"></i> Najneskôr za 10 minút
                </p>
            </div>
        </div>
    </div>
    <div class="dow_n">
        <div class="section text-center">
            <a href="#" class="btn-cta">Zistite viac<br />získajte web... >></a>
        </div>
    </div>
</div>
